<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="{% static 'blog/css/stylechange.css' %}" rel="stylesheet">
    <h3 style="text-align:center">Change Password</h3>
</head>
<body>
<div id="div1">
<form method="POST" action="">
    {% csrf_token %}
    <input type="password" name="old_password" placeholder="Old Password"><br>
    <input type="password" name="new_password1" placeholder="New Password"><br>
    <input type="password" name="new_password2" placeholder="Re-enter New Password"><br>
    <div id="div2">
    <input type="submit" value="Change Password">
    </div>
</form>
</div>

</body>
</html>