<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
{% if errors %}
    <p>{{ errors }}</p>
{% endif %}
<form method="POST" action="">
    {% csrf_token %}

    <input type="text" name="firstname" placeholder="First Name"><br>
    <input type="text" name="lastname" placeholder="Last Name"><br>
    <input type="text" name="username" placeholder="Username"><br>
    <input type="email" name="email" placeholder="name@example.com"><br>
    <input type="password" name="password1" placeholder="Enter Password"><br>
    <input type="password" name="password2" placeholder="Re-enter Password"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>