<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'blog/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}" >



<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'blog/js/jquery.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>