{% extends 'blog/base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block body %}

    {% include 'blog/navbar.html' %}

    <div id="cover">
        <h1 id="cover-text">Love Food?</h1>
        <h3 id="cover-subtext">Welcome to my Blog</h3>
    </div>

<div class="post-div">
    <div id="posts">
        <div class="container-fluid">
            <div class="row">
                {% for post in object_list %}
                    <div class="col-md-4 col-sm-6">
                        <a href="{% url 'post' post.id %}"><h3>{{ post.title }}</h3></a>
                        <img src="/media/{{ post.img }}" class="img-responsive img" alt="Responsive image">
                        <p>{{ post.content }}<a href="{% url 'post' post.id %}">read more</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}


