{% extends 'blog/base.html' %}
{% load static %}

{% block title %} {{ post.title }} {% endblock %}

{% block body %}

     {% include 'blog/navbar.html' %}

    <div id="cover-detail" style="background-image: url('/media/{{ post.img }}');">
        <h1 id="cover-text">{{ post.title }}</h1>
    </div>

    <div id="post-content">
    <div class="post-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{ post.title }}</h1>
                    <br>
                    <p>
                        {{ post.content }}
                    </p>
                </div>

                <div class="col-md-4">
                    <a href="{% url 'edit_post' post.id %}">Edit</a>

                </div>
            </div>
        </div>
    </div>



        {% endblock %}




