{% extends 'blog/base.html' %}
{% load static %}

{% block title %} {{ post.title }} {% endblock %}

{% block body %}

     {% include 'blog/navbar.html' %}

    <div id="cover-detail" style="background-image: url('/media/{{ post.img }}');">
        <h1 id="cover-text">{{ post.title }}</h1>
    </div>

    <div id="post-content">
    <div class="post-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{ post.title }}</h1>
                    <br>
                    <p>
                        {{ post.content }}
                    </p>
                    <h5>Posted by {{ post.user }} | {{ post.pub_date }}</h5>
                </div>

                <div class="col-md-4">
                    <a href="{% url 'edit_post' post.id %}">Edit</a>

                </div>
            </div>
        </div>
    </div>

        <h3>Comments</h3>
        {% for i in comments %}
            <h6>{{ i.date }}  by {{ i.user }}</h6>
            <h7>{{ i.comment_text }}  </h7><a href="/blog/{{ post.id }}/delcom/{{ i.id }}"><button>Delete</button> </a><br><br>
        {% endfor %}

        <div id="div1">
        <form action="" method="post" >
        {% csrf_token %}
        <div class="form-group">
            <textarea name="comment" required class="form-control" placeholder="Enter comment" ></textarea>

        </div>
        <button type="submit" name="go" class="btn btn-primary btn-block">Post comment</button>
        </form>
        </div>


        {% endblock %}




