{% extends 'blog/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'blog/css/editstyle.css' %}" rel="stylesheet">
{% endblock %}
{% block title %} Add Post {% endblock %}

{% block body %}

     {% include 'blog/navbar.html' %}
<h1 style=text-align:center>Edit your post</h1>
    <div id="div1">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Title</p>
        <textarea cols="100" name="title">{{ post.title }}</textarea>
        <p>Content</p>
        <textarea rows="4" cols="100" name="content">{{ post.content }}</textarea>
        {% if post.img %}
        <p>Image: {{ post.img }}</p>
        {% endif %}
        <input name="img" type="file" value="{{ post.img }}"><br>
        <input name="is_published" value="True" type="checkbox">
        <label for="is_published">Is published</label><br><br>
        <input type="submit">
        <a href="{% url 'delete_post' post.id %}"><button>Delete</button></a>
    </form>
    </div>
{% endblock %}